---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    {% include header-about.html %}
    <body>
        <div class="container page">
            <div class="border-bottom border-2 border-print-0 border-dark mb-5 pb-5 pb-print-0 mb-print-1">
                <div class="row">
                    <div class="col-print-6 col-12 col-md-4 d-flex justify-content-between flex-column">
                        <div>
                            <h1 class="mb-0">Truong Mai Huy</h1>
                            <div class="fs-3">AI Engineer</div>
                        </div>
                        <div>
                            <p>
                                <!-- TODO: Make the update time dynamic -->
                                <time datetime="{{ buildinfo.date }}" class="small">Last update: {{ site.last_update }} </time>
                            </p>
                            <p>
                                <span class="screen"><a onclick="generatePDF()"><i class="far fa-file-pdf"></i>Download PDF version</a></span>
                                <span class="print">Up-to-date version of CV is available at <a href="{{ baseUrl }}"
                                                                                                class="text-nowrap"><i
                                    class="fab fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 col-lg-2 offset-lg-1 d-none d-md-block align-md-self-center text-center">
                        <img width="320" height="320"  src="{{ site.base64 }}" class="rounded-circle img-fluid" alt="Personal photo">
                    </div>

                    <!-- This is the address fields   -->
                    <div class="col-print-6 col-12 col-md-5 offset-lg-1 col-lg-4">
                        <ul class="list-group list-group-flush">
                            {% for fact in site.facts %}
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <span class="text-nowrap">{{ fact.name }}</span>
                                    <span class="text-nowrap">{{ fact.value }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Intoduction about me -->
            <div class="border-bottom border-2 border-print-0 border-dark mb-5 pb-5 pb-print-0 mb-print-1">
               {{ site.introduction }}
            </div>
            
            <!-- Skills here -->
            <div class="border-bottom border-2 border-print-0 border-dark mb-5 pb-5 pb-print-0 mb-print-1">
                <h3 class="h2 screen mb-4">Skills</h3>
                <div class="row align-items-center">
                    {% for skill in site.skills %}
                        <div class="col-print-1 col-3 col-md-2 col-lg-1 text-right">
                            <small>{{ skill.name }}</small>
                        </div>
                        <div class="col-print-1 col-3 col-md-2 col-lg-1">
                            <div class="skills">
                                <div class="skills-bar" style="width: {{ skill.value }}%"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Work experience -->
            <div class="border-bottom border-2 border-print-0 border-dark mb-5 pb-5 pb-print-0 mb-print-1">
                <h2 class="mb-4">Professional Experience</h2>

                    {% for position in site.positions %}
                        <div class="row d-block d-md-flex">
                            <div class="col-md-2 pt-1">
                                {{ position.period }}
                            </div>
                            <div class="col-md-10" id="experience">
                                <h3 class="fs-4 fw-normal">{{ position.company }},
                                    <small>{{ position.location }}</small>
                                </h3>
                                <p> {{ position.title }}</p>
                                <!-- Reference - Parsing text to mardown html: https://stackoverflow.com/questions/62524875/jekyll-website-cannot-convert-markdown-and-liquid-to-html-properly-with-github -->
                                <div>{{ position.contents | markdownify | liquify }}</div>
                                <p>
                                    {% for skill in position.skills %}
                                        <span class="badge text-body border border-1">{{ skill }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %} 
            </div>
            
            <!-- Education and Certifications -->
            <div class="border-bottom border-2 border-print-0 border-dark mb-5 pb-5 pb-print-0 mb-print-1">
                <h2 class="mb-4">Education</h2>
                <p>{{ site.education }}</p>
                
                <h2>Achievements</h2>
                <ul class="mb-0">
                    {% for achievement in site.achievements %}
                        <li>{{ achievement.name }}</li>
                    {% endfor %} 
                </ul>

                <h2>Certifications</h2>
                <ul class="mb-0">
                    {% for certificate in site.certifications %}
                        <li>{{ certificate.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- My Additional Experience -->
            <div id="experience">
                <h2 class="mb-4">Additional Experience</h2>
                <div class="row d-block d-md-flex">
                    {% for exp in site.additional %}
                        <div class="col-md-2">
                            <h3 class="fs-4 fw-normal text-align-top text-align-center">
                                <small>{{ exp.name }}</small>
                            </h3>
                        </div>
                        <div class="col-md-10" id="experience">
                            <div>{{ exp.description | markdownify | liquify }}</div>
                        </div>
                        <br/>
                        <br/>
                    {% endfor %}
                </div>
                Categories:
                {% for lang in site.category %}
                    <span class="badge text-body border border-1">{{ lang.name }}</span> 
                {% endfor %}
            </div>

        </div>

    </body>
    {% include scripts.html %}
</html>
